<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gearmix.seo.report.downloader</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/apple/Library/CloudStorage/GoogleDrive-yuma2433@gmail.com/マイドライブ/ObsidianVault/13_クライアント/森川さん_home/1_分析_森川さん/1_分析データ_森川さん/000_週次自動データツール/download_reports.py</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/tmp/gearmix-seo-report-downloader.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/gearmix-seo-report-downloader-error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
